body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}
#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#heading span {
  color: #ea1c2c;
}
#heading h1 {
  font-weight: 100;
  font-size: 4rem;
}

@media (max-width: 1350px) {
  #heading h1 {
    font-weight: 100;

    font-size: 3rem;
  }
}

@media (max-width: 1250px) {
  #heading h1 {
    font-weight: 100;

    font-size: 2.5rem;
  }
}
